{% load thumbnail %}
<section id="reviews">
    <div class='row'>
        <h2 class='fancy'><span>Список объектов</span></h2>
    </div>
    {% for model in monocle_sample_models %}
        <div class='review' class="col-xs-12">
            <div class="row">
                <div class="col-xs-3 {% cycle '' 'pull-right' %}">
                    <div class="round-border-helper"></div>
                    {%  thumbnail model.image 200x200 crop upscale as thumb %}
                    <img class="img-circle  img-responsive" src="{{ thumb.url }}"/>
                </div>
                <div class='col-xs-9'>
                    <p>
                        {{ model.name }}
                    </p>
                    <p>
                        {{ model.text }}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
</section>
